@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

//Background colors
$color-base: #fff;
$color-sec: #ccc;

//Font colors
$color-font-base: #666;

//Font sizes
$font-small: 12px;


//Others
h2{
	font-size: 24px;
}

.voffset10{margin-top: 10px;}
